.body {
    background-image:
        linear-gradient(rgba(255, 255, 225, 0.6), rgba(255, 255, 255, 0.6)),
        url('./images/okeykat-w6elADh_jww-unsplash.jpg');
    background-position: center;
    background-size: cover;
}

.heading {
    text-align: center;
}